@charset "ISO-8859-1";

body {
	font-family: Monospace, monospace;
	background-color: #B9B4C7;
}

.container {
	width: 45%;
	margin: 5% auto 0;
	margin-bottom: 5%;
	text-align: center;
	background-color: #FAF0E6;
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#listar{
	width: 75%;
}

h1 {
	color: #5C5470;
	margin-top: 5%;
}

a {
	color: #5C5470;
	text-decoration: none;
}

a:hover {
	color: #352F44;
}

h1 a {
	font-weight: bold;
}

p {
	color: #5C5470;
}

.tabla table {
    border-collapse: collapse;
    text-align: center;
}
  
#inicio table {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
  
#inicio td {
    padding: 8%;
}

#lista table {
	width: 90%;
	margin: 5% auto;
}

#lista td {
	padding-top: 2%;
	padding-bottom: 2%;
}

#ultimoForm {
	margin-bottom: 4%;
}

input[type="text"] {
	width: 20%;
	border-radius: 4px;
}

input[type="submit"] {
	margin: 3%;
}

#volver {
	border: none;
	border-radius: 100%;
	width: 1.5%;
	position: absolute;
	top: 2%;
	right: 2%;
	appearance: button;
}

#volver img {
	background-color: #FAF0E6;
	width: 100%;
	padding: 40%;
	border-radius: 100%;
}

#busqueda {
	margin-bottom: 3%;
}

.error {
    font-weight: bold;
}